body
{
    margin-top: -10px;
}


.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top:20rem !important;
}

.navbar
{
	margin-bottom: 0px !important;
}

#footer
{
	position: fixed;
	bottom:0;
	width:100%;
	background-color: #343a40;
	padding-top:2rem;
	padding-bottom:2rem;
	color:#ffffff;
}

@media (max-width: 769px) {
    .para
    {
    	margin-bottom:100%;
    }
}