body {
    background-image: url('/images/architecture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.jumbotron{
    margin-top:60px !important;
    background: rgba(0,0,0,0.8);
    color: white;
    border: 10px solid;
    border-radius: 0px;
}