h1, h2 {
	font-size: 1.5em;
	font-weight: normal;
 }
 
h2 {font-size: 1.3em;}
 
legend {
	color: #333;
	font-weight: bold;
 }
 #backup{
	display:none;
 }
 
#filedrag {
	border-radius: 7px;
	border: 2px dashed #555;
	color: #555;
	cursor: pointer;
	display: none;
	font-weight: bold;
	margin: 1em 0;
	padding: 1em 0;
	text-align: center;
 }
 
	#filedrag.hover {
		border-color: #f00;
		border-style: solid;
		box-shadow: inset 0 3px 4px #888;
		color: #f00;
	 }
 
img {max-width: 100%;}
 
pre {
	background-color: #eee;
	border: 1px inset #666;
	font-family: monospace;
	font-size: 0.9em;
	height: 8em;
	margin: 0 0 1em auto;
	overflow: auto;
	padding: 1px 2px;
	width: 95%;
 }
 
#messages {
	border: 1px solid #999;
	margin: 1em 0;
	padding: 0 10px;
 }
 
#progress p {
	background: #eee url("progress.png") 100% 0 repeat-y;
	border-radius: 5px;
	border: 1px inset #446;
	display: block;
	margin: 2px 0;
	padding: 2px 5px;
	width: 240px;
 }
 
#progress p.success {background: #0c0 none 0 0 no-repeat;}
 
#progress p.failed {background: #c00 none 0 0 no-repeat;}