
@media (min-width: 500px) {
    .form-fileInput{
        max-width: 50%;
    }
}

.chart-wrapper{
    position: relative !important;
    width: 50%;

   
}

.loading-message{
    color: rgba(255, 94, 0, 0.877);
}