html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-pic{
  max-width: 200px;
  height: auto;
}

#num-in-cart{
  background-color: #777;
  box-sizing: border-box;
  border-radius: 20px;
  color: #fff;
}

.search{
  border-radius: 0;
}

.form-inline{
  position: relative;
}

.search-icon{
  position: absolute;
  left: 20px;
  line-height: 47px;
}

.navbar{
  color: #006298;
  font-weight: bold;
  font-size: .9rem;
}

.btn{
  background: #006298;
  color: #fff;
}

.form-inline .form-control{
  max-width: 600px;
}

#inp {
  text-align: center;
  margin-left: 9vw;
}

label{
  font-size: 30px;
}