.card{
    border-radius: 6px;
    position: relative;
    padding: 16px;
    margin: 20px;
    border-width: 2px ;
    background-color:#282a36;
    border-style: solid;
    border-color: #393b48;
    box-shadow: 3px 3px 3px #44475a6c;

}