@import "~bootstrap/scss/bootstrap";
@import '@styles/mixins';

html {
  box-sizing: border-box;
  @include for_breakpoint(desktop) {
    font-size: 16px;
  }
  @include for_breakpoint(fourK) {
    font-size: 20px;
  }
  @include for_breakpoint(tablet) {
    font-size: 14px;
  }
  @include for_breakpoint(mobile) {
    font-size: 12px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

// recharts override

.recharts-legend-item {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.recharts-tooltip-wrapper {
  outline: none;
}
