@import "@styles/mixins";

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 5rem;
    text-decoration: underline;
  }
}

.pieCharts {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: row;
  @include for_breakpoint(tablet mobile) {
    flex-direction: column;
    width: 100%;
  }
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    font-weight: 600;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
