name: Testing
on: push

jobs:
    test_frontend:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [10.x, 12.x, 14.x, 15.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              working-directory: ./frontend_react

              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
              run: |
                  npm ci
                  npm run build --if-present
                  npm test
